body {
    font-family: Trebuchet, Georgia, Lucida, "san serif";
    background-color: #BA9FE7;
    margin-left: 70px;
    margin-right: 70px;
    padding: 40px;
    font-size: 130%;

}

div#content {
    padding: 60px;
    margin-left: 70;
    margin-right: 70;
    background-image:
    linear-gradient(#80E2FF, #BDF2FF);
    border: solid 12px #9E74D0;
    height: 80vh;
    border-radius: 25px;
    transform: scale(0.87, 0.87);
}

h1 {
  font-size: 60px;
}

h1, h2, h3 {
  font-family: "Shrikhand", monospace;
  text-align: center;
    color: #005D32;
}

h2 {
  font-size: 45px;
}

p {
  font-family: "Futura", monospace;
  font-size: 30px;
  text-align: center;
	color: #9E74D0;
  margin-left: 20px;
  margin-right: 15px;
}

img {
  display: block;
    float: right;
    width: 350px;
    margin-left: 100px;
    margin-right: 260px;
    border: solid 5px #ffd1dc;
    height: auto;
}

img:hover {
  transition: transform .2s;
  transform: scale(1.3);
}

a {
    text-decoration: none;
    color: #005D32;
    text-align: center;
    display: block;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
